.badge_purple{
    color: #8950fc;
    background: rgba($color: #8950fc, $alpha: 0.1);
}

.badge_red{
    color: red;
    background: rgba($color: red, $alpha: 0.1);
}

.btn_green{
    background: #1bc5bd;
}