<ion-header mode="ios">
    <ion-toolbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <table class="table">
        <tr>
            <th>Current Password</th>
            <td><input type="password" placeholder="Enter Current Password" class="form-control" [(ngModel)]="currentPassword"></td>
        </tr>
        <tr>
            <th>New Password</th>
            <td><input type="password" placeholder="Enter New Password" class="form-control" [(ngModel)]="newPassword"></td>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <td><input type="password" placeholder="Enter Confirm Password" class="form-control" [(ngModel)]="confirmPassword"></td>
        </tr>
        <tr>
            <th> 
                </th>
            <td><button (click)="updatePassword()" class="btn btn-block btn-primary">Update</button></td>
        </tr>
    </table>
    <p *ngIf="error" style="color: tomato;">{{error}}</p>
    <p *ngIf="success" style="color: seagreen;">{{success}}</p>
             
</ion-content>